.notification {
    width: 25px;
    margin: 0 10px 10px 10px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}
.notification .icon-bag{
    font-size: 35px;
    position: absolute;
    z-index: 1;
    
}
.notification .count{
    --size: 25px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    background-color: red;
    color: white;
    border: solid 2px white;
    position: absolute;
    width: var(--size);
    height: var(--size);
    max-width: var(--size);
    max-height: var(--size);
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    z-index: 2;
 
}
