.home-container{
  /*   background-color: khaki; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-container .home-header{
    width: 100%;
    background-color: lightcoral;
    height: auto;
}
.home-container .home-search{
    width: 90%;
    background-color: white;
}
.home-container .home-slider{
    width: 90%;
    background-image: url('../assets/img/background.jpg');
    background-position: center center;
    background-size: cover;
    margin: 5px 0 0 0;
    background-repeat: no-repeat;
    background-color: magenta;
}
.home-container .home-news{
    width: 90%;
    background-image: url('../assets/img/news-background.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: purple; */

}
.home-container .home-pokemonshop{
    width: 90%;
    background-image: url('../assets/img/snorlax.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}
.home-container .home-contact{
    width: 90%;
    height: auto;
    background-color: orangered;
    text-align: center;
    display: flex;
    justify-content: center;

}
.home-container .home-footer{
    width: 100%;
}

/* MediaQuery */

@media screen and ( max-width: 800px ) {

    .home-container .home-slider{
        width: 100%;
    }
    .home-container .home-news{
        width: 100%;
    }
    .home-container .home-pokemonshop{
        width: 100%;
        background-image: none;
        background-color: teal;
       
    }
    .home-container .home-contact{
        width: 100%;
    }
}