.itempokemon-container{
    width: 100%;
    background-color: khaki;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.itempokemon-img{
    width: 250px;
    height: 150px;
    padding: 15px;
}
.itempokemon-title{
    width: 70%;
    font-size: 35px;
    text-align: center;
    margin: auto 0;
}
.itempokemon-price{
    width: 30%;
    color: tomato;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: auto 0;
}
.itempokemon-buttons{
    /* background-color: deeppink; */
    width: 100px;
    height: 40px;
    border: black solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itempokemon-buttons .quantity{
    width: 20px;
    height: 40px;
    font-size: 20px;
    margin: 10px 0 0 10px;
}
.itempokemon-buttons .remove{
    background-color: black;
    color: white;
    height: 40px;
    font-size: 30px;
    border: none;
    padding: 5px;
    cursor: pointer;
}
.itempokemon-buttons .add{
    background-color: black;
    color: white;
    height: 40px;
    font-size: 20px;
    border: none;
    padding: 5px;
    cursor: pointer;
}

@media screen and ( max-width: 680px ){
    
    .itempokemon-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
    }
    .itempokemon-title{
        width: 100%;
        padding: 10px 0;
    }
    .itempokemon-buttons{
        width: 25%;
        margin-bottom: 20px;
    }
    .itempokemon-price{
        width: 25%;
        margin-bottom: 20px;
    }
}