.pokemonshop-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pokemonshop-container .pokemonshop-title{
    font-size: 75px;
    color: #ecc73a;
    margin: 35px 0 15px 0;
}
.pokemonshop-container .pokemonshop-body{
    width: 90%;
    /* background-color: olivedrab; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0;
}
.load-more{
    width: 100px;
    height: 50px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 10px 0;
}
/* MediaQuery */
@media screen and ( max-width: 800px ){

    .pokemonshop-container .pokemonshop-title{
        text-align: center;
        font-size: 45px;
        color: #ecc73a;
        padding: 0 15px;
    }
    .pokemonshop-container .pokemonshop-body{
        display: flex;
        flex-wrap: wrap;
        margin: 15px 0;
    }
}