.shoppingbag-container{
    width: 100%;
    background-color: tomato;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shoppingbag-header{
    width: 60%;
    background-color: yellow;
    text-align: center;
    padding: 25px;
}
.shoppingbag-body{
    width: 80%;
    background-color: teal;
    display: flex;
    flex-direction: row;
}
.bodyleft{
    width: 65%;
    height: 100vh;
    background-color: violet;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shoppingbag-empty{
    font-size: 35px;
    margin: 25px 0;
}
.clearbag{
    width: 150px;
    border: none;
    background-color: black;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;

}
.bodyleft .shoppingbag-items{
    width: 90%;
    background-color: darkgoldenrod;
}
.bodyright{
    width: 35%;
    height: 100vh;
    background-color: darkblue;
}
.shoppingbag-total{
    width: 100%;
    background-color: turquoise;
}
.shoppingbag-paymentmethods{
    text-align: center;
    font-size: 25px;
    margin: 25px 0;
}