.slider-container {
    width: 1200px;
    margin: 75px auto; 
}
.slider-container .slider-viewport {
    width: 1200px;
    border-radius: 10px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.slider-container .slider-viewport .slide {
    min-width: 1200px;
    width: 1200px;
    border-radius: 10px;
    box-sizing: border-box;
    
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start; 
}
.slider-container .slider-viewport .slide h1{
    font-size: 55px;
    color: white;
    margin-top: 100px;
    text-align: center;
}
.slider-container .slider-viewport .slide span{
    font-size: 25px;
    color: white;
    text-align: center;
}
/* .slide:nth-child(1){

} */
#slide1 {
    background-image: url('../assets/img/season04-1660x940.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

}

#slide2 {
    background-image: url('../assets//img/pokemon-go-169.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
#slide3 {
    background-image: url('../assets/img/movie10-1660x940-es.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.slider-container .links {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.slider-container .links a {
    width: 40px;
    height: 40px;
    background-color: #6523b6;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;  
}
.slider-container .links a:hover {
    background-color: #b786f0;
}

/* mediaQuery */
@media screen and ( max-width: 1200px ){
    .slider-container {
        width: 700px;
        margin: 20px auto;
    }
    .slider-container .slider-viewport {
        width: 700px;
        border-radius: 10px;
        display: flex;
    
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
    .slider-container .slider-viewport .slide {
        min-width: 700px;
        width: 700px;
        border-radius: 10px;
        box-sizing: border-box;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        scroll-snap-align: start;
    }
}
@media screen and ( max-width: 868px ){
    .slider-container {
        width: 550px;
        margin: 20px auto;
    }
    .slider-container .slider-viewport {
        width: 550px;
        border-radius: 10px;
        display: flex;
    
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
    .slider-container .slider-viewport .slide {
        min-width: 550px;
        width: 550px;
        border-radius: 10px;
        box-sizing: border-box;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        scroll-snap-align: start;
    }
    .slider-container .slider-viewport .slide h1{
        font-size: 35px;
        color: white;
        margin-top: 100px;
        text-align: center;
    }
    .slider-container .slider-viewport .slide span{
        font-size: 15px;
        color: white;
        text-align: center;
    }
}

@media screen and ( max-width: 550px ){
    .slider-container {
        width: 350px;
        margin: 20px auto;
    }
    .slider-container .slider-viewport {
        width: 350px;
        border-radius: 10px;
        display: flex;

        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
    .slider-container .slider-viewport .slide {
        min-width: 350px;
        width: 350px;
        border-radius: 10px;
        box-sizing: border-box;

        display: flex;
        align-items: center;
        justify-content: center;

        scroll-snap-align: start;
    }
}
